
@{
    ViewBag.Title = Model.DisplayText;

}
<html>
<head>
    <title></title>
</head>
<body>
    <div>
        <h1>@Model.SeriesTitle</h1>
        <h2>Issue #@Model.IssueNumber</h2>

        <h5>Description:</h5>
        <div>@Html.Raw(Model.DescriptionHTML)</div>
        @if (Model.Artists.Length > 1)
    {
        <h5> Artists:</h5>

        <ul>
        @foreach (var t in Model.Artists)
            { 
                <li>@t.Role : @t.Name</li>
            }
        </ul>
    }
</div>
</body>
</html>